* {
    font-size: 1rem;
}

body {
    background-color: #F6F7F8;
    display: flex;
    overflow: hidden;
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    padding-left: 5%;
    margin: 90px 3% 0 232px;
}

.add-task-html-style {
    position: unset !important;
    transform: none !important;
}

.contentPopUpTask {
    align-items: unset !important;
    margin: unset !important;
    width: 100% !important;
    height: unset !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-sizing: unset !important;
}

.taskBoardPopUpTask {
    max-width: 750px;
    height: 64vh  !important;
}

.closePopUp {
    display: none !important;
}

input,
.taskBoardLeftPopUpTask textarea,
.dropdownAssigned,
.dropdown {
    max-width: 300px;
}


/* .checkBoxDiv  */

.priorityImg {
    max-width: 90px;
}

#eventLisPopUp .dropdown-content,
#dropdown .dropdown-content {
    width: 100%;
}

.buttonsCreateTaskPopUpTask {
    position: absolute;
    bottom: 0;
}
