* {
    font-size: 1rem;
}

body {
    background-color: #F6F7F8;
    display: flex;
    overflow: hidden;
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    padding-left: 5%;
    margin: 90px 3% 0 232px;
}

.add-task-html-style {
    position: unset !important;
    transform: none !important;
}

.contentPopUpTask {
    align-items: unset !important;
    margin: unset !important;
    width: 100% !important;
    height: unset !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-sizing: unset !important;
}

.taskBoardPopUpTask {
    max-width: 750px;
    height: 64vh  !important;
}

.closePopUp {
    display: none !important;
}

input,
.taskBoardLeftPopUpTask textarea,
.dropdownAssigned,
.dropdown {
    max-width: 300px;
}

.priorityImg {
    max-width: 90px;
}

#eventLisPopUp .dropdown-content,
#dropdown .dropdown-content {
    width: 100%;
}

.buttonsCreateTaskPopUpTask {
    position: absolute;
    bottom: 0;
}

/* @keyframes taskAddedPopUp {

    0% {
        transform: translateY(0vh);

    }

    50% {
        transform: translateY(-40vh);

    }

    100% {
        transform: translateY(-40vh);

    }
}


@media(max-width:800px) {
   

    h1 {
        text-align: center;
        margin-top: 20%;
        font-size: 30px;
    }

    .wrapper {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    .content {
        margin: 60px 20px;
        justify-content: center;
    }

    input {
        width: 88%
    }

    .taskBoard textarea {
        width: 88%;
        height: 50px
    }

    .taskBoard {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .dividingHR {
        display: none;
    }

    hr {
        display: none;
    }

    .dropdown {
        width: 88%
    }

    .dropdown-content {
        width: 100%
    }

    .taskBoardLeft {
        width: 90%
    }

    .taskBoardRight {
        width: 90%;
    }

    .addSubtaskButton {
        right: 7%
    }

    .buttonsCreateTask {
        margin: 0;

        justify-content: center;
    }

    .buttonsCreateTask {
        margin-bottom: 30% !important;
    }


    .droppedContacts input {
        left: 40%
    }

    .dividingHR {
        display: none;
    }

    .priorityImg {
        width: 30%
    }

    .selectedCategoryInputValue {
        font-size: 18px;
        position: relative;
        height: 100%;
        padding: 21px;
        width: 102%;

    }


    .hiddenInput {
        position: absolute;
        left: -1px;
        top: -2px;
        right: 0;
        bottom: -1;
        width: 87%;
    }

    .createInHiddenInput {
        height: 18px;
        width: 18px;
        position: absolute;
        right: -12%;
        top: 26%;
    }

    .closeHiddenInput {
        height: 18px;
        width: 18px;
        position: absolute;
        right: 2%;
        top: 27%;
    }
}


@media(min-width:800px) and (max-width:1000px) {
    .wrapper {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    h1 {
        text-align: center;
    }

    .content {
        margin: 60px 20px;

    }

    input {
        width: 70% !important;
    }


    .taskBoard textarea {
        width: 70%
    }

    .dropdown {
        width: 70%
    }

    .dropdown-content {
        width: 100%
    }


    .addSubtaskButton {
        right: 25%
    }

    .buttonsCreateTask {
        margin-bottom: 80% !important;
        padding: 10px 5px
    }

    .droppedContacts input {
        left: 50%
    }


}

@media(min-width:500px)and (max-width:1000px) {
    .dividingHR {
        display: none;
    }

    .priorityImg {
        width: 20%
    }
}

@media(min-width:500px)and (max-width:750px) {
    .selectedCategoryInputValue {

        width: 107%;

    }
}

@media(min-width:800px)and (max-width:850px) {
    .selectedCategoryInputValue {
        width: 83% !important;
    }

    .createInHiddenInput {

        right: 3%;
    }

    .closeHiddenInput {
        right: 16%;
    }

    hr {
        right: 7%;
    }
}

@media(min-width:750px)and (max-width:800px) {
    .selectedCategoryInputValue {
        width: 108% !important;
    }
}

@media(min-width:850px)and (max-width:1000px) {
    .selectedCategoryInputValue {
        width: 83% !important;
    }

    .createInHiddenInput {
        right: 3%;
    }

    .closeHiddenInput {
        right: 17%;
    }
}

@media(min-width:1000px)and (max-width:1300px) {
    /* h1 {
        margin-left: 30px;
    } 

    .addSubtaskButton {
        right: 25%
    }

    .dividingHR {
        display: none;
    }

    input {
        width: 70% !important;
    }


    .taskBoard textarea {
        width: 70%
    }

    .dropdown {
        width: 70%
    }

    .content {
        margin: 0
    }

    .selectedCategoryInputValue {
        width: 83% !important;
    }

    .createInHiddenInput {
        right: 3%;
    }

    .closeHiddenInput {
        right: 17%;
    }

} */