* {
    font-size: 1rem;
}

.add-task-html-style {
    position: unset !important;
    transform: none !important;
}

.contentPopUpTask {
    align-items: unset !important;
    margin: unset !important;
    width: 100% !important;
    height: unset !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-sizing: unset !important;
}

.taskBoardPopUpTask {
    max-width: 750px;
}

.closePopUpBtn {
    display: none !important;
}

input,
.taskBoardLeftPopUpTask textarea,
.dropdownAssigned,
.dropdown {
    max-width: 300px;
}


/* .checkBoxDiv  */

.priorityImg {
    max-width: 90px;
}

#eventLisPopUp .dropdown-content,
#dropdown .dropdown-content {
    width: 100%;
}

.buttonsCreateTaskPopUpTask {
    position: absolute;
    bottom: 0;
}