body {
    /* height: 100vh; */
    background-color: #F5F5F5;
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    margin: 90px 0 0 232px;
    padding: 0 50px 0 100px;
}

.board-header h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 30px 0;
}

.board-subsection-header h2 {
    color: #2A3647;
    white-space: nowrap;
    font-size: 1rem;
}

/* h4 {
    color: #2A3647;
    margin-bottom: 10px;
    margin-top: 16px;
} */

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.input-container hr {
    position: absolute;
    right: 217px;
    background: #d1d1d1;
    width: 1px;
    height: 33px;
    border: 0;
}

.board-input {
    width: 17vw;
    height: 46px;
    font-size: 1rem;
    padding-left: 20px;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 28px;
}

.board-input:focus {
    outline: 2px solid #29ABE2;
}

input::-webkit-search-cancel-button {
    display: none;
}

.search-img-input {
    position: relative;
    height: 20px;
    right: -15.5vw;
    cursor: pointer;
}

.headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-subsections {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-size: 1rem;
    white-space: nowrap;
}

.board-subsection {
    display: flex;
    align-items: center;
}

.board-subsection-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3647;
    border-radius: 8px;
    height: 45px;
    width: 145px;
    border: unset;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.add-task-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

.plus-btn {
    padding: 0 7px 4px;
    font-size: 25px;
    font-weight: 400;
}

.plus-img {
    padding: 0 4vw 0 10px;
}

.plus-img:hover {
    cursor: pointer;
    content: url('.././assets/img/plusButtonBoardLightBlue.png');
}

/* POPUP */
/* .category {
    color: white;
    padding: 4px 22px;
    border-radius: 8px;
    font-size: 18px;
} */

.design {
    background-color: #FF7A00;
}

.sales {
    background-color: #FC71FF;
}

.backoffice {
    background-color: #1FD7C1
}

.marketing {
    background-color: #0038FF;
}

.boardCards {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
}

.boardCard {
    border-radius: 30px;
    background-color: white;
    padding: 18px 19px;
    box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.25);
    overflow-wrap: break-word;
}

.boardCard:hover {
    cursor: pointer;
}

.task {
    color: #9e9d9d;
    font-size: smaller;
    max-width: 80%;
    word-wrap: wrap;
    overflow-y: hidden;
}

.dialogFullCard {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 80;
}

.dialogFullCardContent {
    position: relative;
    height: 90%;
    margin: auto;
    width: 30%;
    background-color: #F6F7F8;
    border-radius: 30px;
    overflow-wrap: break-word;
    overflow-y: auto;

}

.dialogFullCardContent h1 {
    font-size: 51px
}


.closeButtondialogFullCard:hover {
    cursor: pointer;
}

.closeButtondialogFullCard {
    position: absolute;
    top: 10px;
    right: -20px
}

.wrapperDialog {

    width: 80%;
    margin: auto;
    position: relative;
    height: 95%;
}

.wrapperDialog h1 {
    font-size: 41px;
    color: #2A3647;
    margin: 20px 0
}

.categoryDialog {
    margin-top: 15px;
    padding: 8px;
    color: white;
    border-radius: 10px;
    width: fit-content;
}

.taskDescript {
    font-size: 21px;
}

.dueDate {
    display: flex;
    align-items: center;
}

.dialogFullCardContent p {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

.dueDate span {
    font-size: 20px;
    padding-top: 4px;

}

.priority {
    display: flex;
    align-items: center;
}

.priority span {
    font-size: 20px;
    margin-left: 10px;
    padding-top: 4px;

}

.displayNone {
    display: none;
}

.progressBarSection {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.progressBar {

    height: 5px;
    width: 70%;
    background: linear-gradient(to right, #29ABE2 0%, #e9e7e7 0%);

}

.assignedToBoard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

}

.assignedToAvatars {
    display: flex;

}


.assignedToAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    margin-left: -5px;

}

.priorityImg:hover {
    box-shadow: none !important;
}

.priorityImgEdit {
    width: 60%
}

.priorityImgEdit:hover {
    cursor: pointer;
}

.delete {
    height: 40px;
}

.delete:hover {
    cursor: pointer;
    content: url('../assets/img/lightBlueDelete.png');
}

.edit {
    height: 40px;
}

.edit:hover {
    cursor: pointer;
    content: url('../assets/img/lightBlueEdit.png');
}

.editDelete {
    width: 110%;
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 2%
}

.addedSubtaskOnEdit {
    width: 15px !important;
    margin-right: 80px;
}

.boardEditTaskForm {
    width: 80%;
    height: 90%;
    margin: auto;
}


/* input {
    width: 50% !important;
    padding: 6px !important
} */

.inputEdit {
    width: 80% !important
}


/* textarea {
    height: 60px;
    width: 50%;
    border-radius: 10px;
    padding: 13px 21px;
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
    font-size: 21px;
    line-height: 120%;
    outline: none;
    resize: none;
} */

.textareaEdit {
    width: 80% !important;
    color: #000000;
    padding: 13px 21px !important;

}


.priorities {
    width: 50% !important
}

.priorityImg {
    height: 50px;
    width: 30%
}

.priorityImgFullCard {
    height: 40px;
    width: 25%
}

.dropdownEditTask {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 13px;
    color: #000000;
    border: 1px solid #D1D1D1;
    margin-bottom: 0 !important;
}

.dropdownEditTask:hover .dropdown-content {
    display: block;
    border-top: none;
}


.dropdown-content {
    width: 100% !important
}

.okButtonDiv {

    width: 86%;
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 3%
}

.okButton {
    font-size: 20px;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
}

.okButton:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.boardEditTaskForm div {
    margin-bottom: 15px !important;
}

.boardEditTaskForm label {
    font-weight: bolder;
}


.droppedContacts {

    display: flex;
    flex-direction: row;

    align-items: center;
    margin-bottom: 3px;
    position: relative;
}

.droppedContacts input {
    margin-right: 2px !important;
    position: absolute;
    left: 85% !important;
    width: 10px !important
}


.assignedToFullCard {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.assignedToContact {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.assignedToContact p {
    margin-left: 7px !important;
    font-weight: lighter !important;
}

.dropdownEditTask {
    width: 83%
}



@media(max-width:1000px) {
    .wrapper {
        display: flex;
        align-items: center;
        margin: auto;
    }

    .boardHeader {
        flex-direction: column;
        width: 90%;
        padding: 0;
        margin: 10px
    }

    .boardContent {
        width: 90%;
        margin: auto;
    }

    .inputContainer {
        width: 100% !important;
        margin: auto;
    }

    .boardInput {
        width: 100% !important;
        margin: auto;
    }

    h1 {
        align-self: flex-start;
    }

    .headings {
        display: block;
        padding: 0 0 100px
    }

    .boardSubsectionHeader {
        width: 100%;
    }

    .boardSubsections {
        flex-direction: column;
        width: 100%;
        min-height: fit-content;
        align-items: center;
        padding: 10px
    }

    .boardSubsection {
        min-height: 20px;
    }


    .wrapper {
        width: 100%;
        align-items: center;
    }


    .addTaskButton {
        width: 30px;
        display: flex !important;
        justify-content: center;
        margin-top: -190px;
    }

    .addTaskButton span {
        display: none;
    }

    /* .buttonPlus {
        font-size: 50px;
    }

    .buttonPlus {
        display: flex !important;
        justify-content: center;
        margin: 0
    } */


    .vertLineInput {
        position: absolute;
        top: 13px;
        right: 130px;
    }

    .searchImgInput {
        right: 20%
    }

    .dialogFullCardContent {
        height: 100%;
        width: 100%;
        border-radius: 0;

    }

    .wrapperDialog {
        height: 100vh;
        padding-top: 10%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly !important;

    }

    .headerForSelectionField span {
        width: 82%;
        flex-direction: row;
    }


    .dropdownEditTask {
        width: 83%
    }

    .droppedContacts input {
        left: 50%;
    }

    .editDelete {
        position: unset;
    }

    .closeButtondialogFullCard {
        top: 8%;
    }

    .boardEditTaskForm {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly !important;
    }
}

@media(max-width:350px) {
    .closeButtondialogFullCard {
        top: 2%;
        height: 15px
    }

    .wrapperDialog {
        padding-top: 15%;
    }
}

@media(min-width:350px) and (max-width:700px) {
    .closeButtondialogFullCard {
        top: 9%;
        height: 20px
    }

    .wrapperDialog {
        padding-top: 15%;
    }
}

@media(min-width:1000px) and (max-width:1300px) {

    .headerForSelectionField {
        display: block !important
    }
}