body {
    background-color: #F6F7F8;
    display: flex;
    overflow-x: hidden;
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    padding-left: 5%;
    margin: 90px 3% 0 232px;
}

.hide-overflow {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #F6F7F8;
}

.boardHeader h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.boardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    gap: 7%;
}

.boardInput {
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #d1d1d1;
    padding: 5px 10px;
    font-size: 1rem;

}

input::-webkit-search-cancel-button {
    display: none;
}

.searchImgInput {
    position: absolute;
    right: 50%;
    height: 17px;
    cursor: pointer;
}

.headings {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 3%;
}

.boardSubsections {
    min-height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-size: 1rem;
}

.boardSubsection {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}


.boardSubsectionHeader {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boardSubsectionHeader h2 {
    font-size: 1.4vw;
    color: #2A3647;
}

.addTaskButton {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    position: relative;
    height: 11px;
    background-color: #2A3647;
    color: white;
    Padding: 18px 10px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
}

.addTaskButton:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.25);
    transition: 75ms ease-in-out;
}

.buttonPlus {
    font-size: 25px;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: -4px;
}

.category {
    color: white;
    border-radius: 8px;
    padding: 4px 0;
    text-align: center;
}

.plusButton {
    width: 11%;
}

.plusButton:hover {
    cursor: pointer;
    content: url('.././assets/img/plusButtonBoardLightBlue.png');
}

.design {
    background-color: #FF7A00;
}

.sales {
    background-color: #FC71FF;
}

.backoffice {
    background-color: #1FD7C1
}

.marketing {
    background-color: #0038FF;
}

.boardCards {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;


}

.boardCard {
    border-radius: 20px;
    background-color: white;
    padding: 18px 19px 19px 19px;
    width: 76%;
    box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.25);
    overflow-wrap: break-word;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.boardCard:hover {
    cursor: pointer;
}

.boardCard h4 {
    margin: 0;
}

.task {
    color: #9e9d9d;
    font-size: smaller;
    word-wrap: wrap;
    overflow-y: hidden;
}

.dialogFullCard {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 80;

}

.dialogFullCardContent {
    position: relative;
    height: 90%;
    margin: auto;
    max-width: 400px;
    width: 100%;
    background-color: #F6F7F8;
    border-radius: 30px;
    overflow-wrap: break-word;
}

.dialogFullCardContent h1 {
    font-size: 51px
}

.dialogFullCardContent {
    color: #2A3647;
}

.dialogFullCardContent label{
    margin-bottom: 10px;
}

.closeButtondialogFullCard:hover {
    cursor: pointer;
}

.closeButtondialogFullCard {
    position: absolute;
    top: 30px;
    right: 0;
    height: 15px;
}

#subtasksFullCard {
    gap: 10px;
    margin-top: 10px;
}

.dialogFullcard-subtasks {
    margin-bottom: 0;
}

#subtasksFullCard div{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.wrapperDialog {
    width: 80%;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 93%;
    gap: 4%;
}

.wrapperDialog p {
    color: #2A3647;
    margin: 0;
}

.wrapperDialog h1 {
    font-size: 2.5rem;
    color: #2A3647;
    margin: 0;
}

.categoryDialog {
    margin-top: 15px;
    padding: 8px;
    color: white;
    border-radius: 10px;
    width: 35%;
    text-align: center;
}

.taskDescript {
    font-size: 1rem;
    margin: 20px 0;
    font-weight: 400 !important;
}

.dueDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dialogFullCardContent p {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 15px;
}

.dueDate span {
    font-size: 1rem;
}

.priority {
    display: flex;
    align-items: center;
}

.priority span {
    font-size: 20px;
    margin-left: 10px;
    padding-top: 4px;

}

.displayNone {
    display: none;
}

.progressBarSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.progressBarSection p {
    text-align: center;
    margin: 0;
}

.progressBar {
    height: 5px;
    width: 100%;
    margin-right: 20%;
    background: linear-gradient(to right, #29ABE2 0%, #e9e7e7 0%);

}

.assignedToBoard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignedToAvatars {
    display: flex;

}


.assignedToAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    font-size: 16px;
    margin-right: -10px;
    color: white;
    border: 1px solid white;

}


.priorityImgEdit {
    height: 40px;
}

.priorityImgEdit:hover {
    cursor: pointer;
}

.deleteButton {
    height: 40px
}

.editButton {
    height: 40px
}

.deleteButton:hover {
    cursor: pointer;
    content: url('../assets/img/lightBlueDelete.png');
    background-color: #29ace2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.editButton:hover {
    cursor: pointer;
    content: url('../assets/img/lightBlueEdit.png');
    background-color: #29ace2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.editDelete {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 7px;
}

.addedSubtaskOnEdit {
    width: 15px !important;
}

.boardEditTaskForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 75%;
}

.boardEditTaskForm input {
    width: 50% !important;
    padding: 5px 10px !important;
    font-family: 'Open-sans', sans-serif;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    color: #2A3647;
}

.inputEdit {
    width: 80% !important
}


textarea {
    height: 60px;
    width: 50%;
    border-radius: 10px;
    padding: 13px 21px;
    color: #2A3647;
    border: 1px solid #D1D1D1;
    font-size: 21px;
    line-height: 120%;
    outline: none;
    resize: none;
}

.textareaEdit {
    padding: 5px 10px !important;
    font-size: 0.9rem;
    width: 90%;
    font-family: 'Open-sans', sans-serif;
}

.priorities {
    flex-direction: row !important;
    margin: 0 !important;
}

.priorityImg {
    height: 50px;
    width: 30%
}

.priorityImg p {
    margin: 0;
}

.priorityImgFullCard {
    height: 40px;
    margin-right: -5px;
}

#editedDropdownAddContact {
    height: 100px;
    overflow-y: scroll;
}

#editedDropdownAddContact .droppedContacts input {
    left: 88% !important;
}

.dropdownEditTask {
    position: relative;
    display: inline-block !important;
    width: 50%;
    height: 16px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px 15px;
    color: #000000;
    border: 1px solid #D1D1D1;
    margin-bottom: 0 !important;
    margin-left: -5px;
    cursor: pointer;
}

.dropdown-content {
    width: 100% !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 33px;
    left: -1px;
    width: 464px;
    background-color: #ffffff;
    color: #D1D1D1;
    border: 1px solid;
    border-radius: 10px;
    z-index: 1;
    padding-top: 10px;
    margin-bottom: 15px !important;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 0.9rem;
}

.okButtonDiv {
    display: flex;
    align-items: end;
}

.okButton {
    font-size: 1rem;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
}

.okButton:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.boardEditTaskForm label {
    font-weight: bolder;
}


.droppedContacts {
    display: flex;
    flex-direction: row;
    position: relative;
}

.droppedContacts input {
    position: absolute;
    top: 10px;
    left: 92% !important;
    width: 10px !important;
}


.assignedToFullCard {
    height: 0%;
    padding: 26% 0 0 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 0 10px;
}

.assignedToContact {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.assignedToContact p {
    margin-left: 7px !important;
    font-weight: lighter !important;
}

.headerForSelectionField span {
    position: relative;
    font-size: 0.9rem;
}

.arrDown {
    position: absolute;
    top: 17px;
    right: 23px;
    height: 10px;
    width: 15px;
    transform: rotate(180deg);
}

.dropdownEditTask {
    width: 90%
}

.dropdownEditTask div {
    margin: 0 !important;
}

.dropdownForMobileDevices {
    display: none;
    position: relative;
    font-size: 18px;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 10px;
}

.dropdown-contentForMobileDevices {
    display: none;
    position: absolute;
    top: 40px;
    left: -1px;
    width: 50%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    z-index: 1;
    padding: 10px;
    overflow-y: scroll;
    z-index: 200;
}

/* 

@media(min-width:250px) and (max-width:1000px) {


    .editDelete {
        margin-bottom: 40%
    }

    .deleteButton:hover {
        cursor: pointer;
        content: inherit
    }

    .editButton {
        height: 30px;
    }

    .deleteButton {
        height: 30px;
    }

    .editButton:hover {
        cursor: pointer;
        content: inherit
    }



    .wrapper {
        display: flex;
        align-items: center;
        margin: auto;
    }

    .boardHeader {
        flex-direction: column;
        width: 90%;
        padding: 0;
        margin: 10px
    }

    .boardContent {
        width: 90%;
        margin: auto;
    }

    .inputContainer {
        width: 100% !important;
        margin: auto;
    }

    .boardInput {
        width: 100% !important;
        margin: auto;
    }

    h1 {
        align-self: flex-start;
    }

    .headings {
        display: block;
        padding: 0 0 100px
    }

    .boardSubsectionHeader {
        width: 100%;
    }

    .boardSubsections {
        flex-direction: column;
        width: 100%;
        min-height: fit-content;
        align-items: center;
        padding: 10px
    }

    .boardSubsection {
        min-height: 20px;
    }


    .wrapper {
        width: 100%;
        align-items: center;
    }


    .addTaskButton {
        width: 30px;
        display: flex !important;
        justify-content: center;
        margin-top: -190px;
    }

    .addTaskButton span {
        display: none;
    }

    .buttonPlus {
        font-size: 50px;
    }

    .buttonPlus {
        display: flex !important;
        justify-content: center;
        margin: 0
    }


    .vertLineInput {
        position: absolute;
        top: 13px;
        right: 130px;
    }

    .searchImgInput {
        right: 20%
    }

    .dialogFullCardContent {
        height: 100%;
        width: 100%;
        border-radius: 0;

    }

    .wrapperDialog {
        height: 100vh;
        padding-top: 10%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 80px;

    }

    .headerForSelectionField span {
        width: 82%;
        flex-direction: row;
    }


    .dropdownEditTask {
        width: 83%
    }

    .droppedContacts input {
        left: 50%;
    }

    .closeButtondialogFullCard {
        top: 8%;
    }

    .boardEditTaskForm {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 70px;
        margin-top: 100px;
    }

}

@media(max-width:350px) {
    .closeButtondialogFullCard {
        top: 2%;
        height: 15px
    }

}

@media(min-width:350px) and (max-width:700px) {
    .closeButtondialogFullCard {
        top: 9%;
        height: 20px
    }

    .wrapperDialog {
        margin-top: 10px;
    }

    .boardEditTaskForm {

        margin-bottom: 90px;
        margin-top: 100px;
    }
}

/* @media(min-width:1000px) and (max-width:1450px) {
    .boardSubsectionHeader h2 {
        font-size: 1rem;
        white-space: nowrap;
    }

    .dropdownForMobileDevices {
        display: none;

    }

    .headerForSelectionField {
        display: block !important;
        width: 100%
    }
} 

@media(max-width:600px) {
    .dropdownForMobileDevices {
        display: block;
    }
} */