@media (max-width: 1000px) {

    .overlay-container {
        overflow: hidden;
    }

    .add-contact-button {
        bottom: 100px;
        right: 30px;
    }

    .contact-list {
        display: flex;
        left: 0;
        bottom: 0;
        top: 70px;
        width: 35vw;
    }

    #contactList {
        width: 27vw;
        padding-left: 4vw;
    }

    #initialLetterContainer {
        width: 95%;
    }

    .contact-info-bubble {
        height: 55px;
        width: 55px;
        font-size: 40px;
    }

    .contact-container {
        background-color: #F5F5F5;
        margin-left: unset;
        right: 0;
        width: 65vw;
        bottom: 0;
        left: unset;
        top: 70px;
    }

    .contact-header {
        padding-left: 32px;
        padding-top: 20px;
    }

    .contact-info {
        margin-top: 10px;
        padding-left: 32px;
    }

    .contact-created {
        bottom: 20%;
        width: 310px;
        z-index: 100;
    }

}

@media (max-width:850px) {

    .contact-list {
        width: 40vw;
    }

    #contactList {
        width: 34vw;
    }

    .contact-container {
        width: 60vw;
    }

    .contact-header h1 {
        font-size: 2.5rem;
    }

    .contact-info-bubble {
        height: 45px;
        width: 45px;
        font-size: 2.2rem;
    }

    .single-contact-container {
        padding: 0 0 0 15px;
    }

    .add-contact-overlay {
        flex-direction: column;
        align-items: center;
        width: 350px;
        height: 75vh;
    }

    .contact-left-headline {
        font-size: 2.2rem;
    }

    .edit-contact-circle-for-edit {
        background-color: lightgray;
        margin-top: -50px;
        top: 155px;
        left: 94px;
    }

    .add-contact-left {
        width: 350px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
        align-items: flex-start;
        height: 40%;
        box-sizing: border-box;
        padding-left: 30px;
    }

    .add-contact-right {
        width: 350px;
        height: 60%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0;
        transition: unset;
    }

    .edit-contact-left-line {
        margin-top: 5px;
    }

    .new-contact-circle-name {
        flex-direction: column;
        width: 350px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }

    .edit-contact-circle {
        background-color: lightgray;
        top: -33px;
        margin-top: -50px;
        height: unset;
        width: 60px;
        padding: 20px;
    }

    .close-contact-cross {
        display: none;
    }

    .contact-new-cancel {
        display: none !important;
    }

    .create-cancel-box {
        justify-content: center;
    }

    .add-contact-left {
        padding-left: 0;
        align-items: center;
        gap: 10px;
    }

    .add-contact-logo {
        display: none;
    }

    .new-contact-left-line {
        top: 120px;
        left: 75px;
    }

    .input-form-new-contact {
        margin: 20px 0;
    }

    .close-contact-cross-white {
        display: block;
        position: absolute;
        top: 20px;
        right: 23px;
        font-size: x-large;
        cursor: pointer;
    }
}


@media (max-width: 700px) {

    .contact-container {
        display: none;
    }

    .contact-container {
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        align-items: center;
    }

    .contact-header {
        padding-left: unset;
    }

    #contactList {
        width: 90vw;
    }

    .contact-info-bubble {
        height: 50px;
        width: 50px;
    }

    .contact-info {
        padding-left: 0;
    }

    .contact-list {
        width: 100vw;
        max-width: unset;
    }

    .add-contact-button {
        font-size: 0;
        gap: 0;
        height: 50px;
        width: 50px;
    }

    .contact-info-close {
        display: block;
        height: 20px;
        object-fit: contain;
        position: absolute;
        top: 72px;
        right: 40px;
        cursor: pointer;
    }


    .contact-info-close:hover,
    .trash-can:hover,
    .edit-box:hover,
    .contact-edit-popup:hover {
        filter: invert(80%) sepia(99%) saturate(415%) hue-rotate(156deg) brightness(94%) contrast(89%);
        transition: filter ease-in-out 125ms;
    }

    .contact-info-edit {
        display: none;
    }

    .trash-can {
        width: 26px;
        height: 29px;
        margin-bottom: 20px;
        border: 2px solid #2A3647;
        border-radius: 5px;
        cursor: pointer;
    }

    .responsive-buttons {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 100px;
        right: 30px;
    }
}

@media (max-width: 640px) {

    .contact-header {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .contact-container {
        align-items: unset;
        padding-left: 10vw;
        box-sizing: border-box;
    }

    .kanban-responsive {
        display: block;
        font-size: 16px;
    }

    .contact-header h1 {
        font-size: 40px;
        margin: 10px 0 10px 0;
    }

    .contact-header h2 {
        font-size: 16px;
        margin: 0;
    }

    .contacts-hr-line {
        display: none;
    }

    .hr-responsive {
        display: flex;
        border: 1px solid #29ABE2;
        margin: 15px 0 15px 0;
        width: 65px;
    }

    .contact-info {
        top: 160px;
    }

    .contact-info-header {
        column-gap: 20px;
    }

    .contact-edit-popup {
        display: none;
    }

    .edit-box {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .contact-container {
        z-index: 1;
    }
}

@media (max-width: 440px) {

    .contact-info-headname h2 {
        font-size: 1.7rem;
    }

    .contact-container {
        align-items: unset;
        padding-left: 8%;
    }

    .responsive-buttons {
        bottom: 100px;
    }

    .add-contact-overlay {
        width: 310px;
        height: 550px;
    }

    .add-contact-left {
        width: 310px;
    }

    .add-contact-right {
        width: 310px;
    }

    .new-contact-circle-name {
        width: 310px;
    }

    .edit-contact-circle-for-edit {
        top: 186px;
        left: 75px;
    }

    .edit-contact-circle {
        top: 192px;
        left: 75px;
    }

    .edit-contact-left-line {
        top: 105px;
        left: 60px;
    }

    .new-contact-left-line {
        top: 125px;
        left: 51px;
    }
}