/* general */
body {
    background-color: #F5F5F5;
    margin: 0;
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
}

.d-none {
    display: none;
}

/* Logo */
#logo-container {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: backgroundFadeOut 500ms ease-in-out 500ms;
    animation-fill-mode: forwards;
    background-color: #f5f5f5;
}

@keyframes backgroundFadeOut {
    from {
        position: absolute;
    }

    to {
        position: unset;
    }
}

#join-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: Logo-Animation 700ms ease-in-out 500ms;
    animation-fill-mode: forwards;
    z-index: 3;
    transition: transform 500ms ease-in-out;
}

@keyframes Logo-Animation {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 500ms ease-in-out 300ms;
    }

    to {
        top: -40px;
        left: -30px;
        transform: translate(4%, 5%);
        transform: scale(0.4);
    }
}

/* Not a Join user? Sign up */
#signup-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#signup-container p {
    font-size: 21px;
}

#signup-btn {
    background-color: #2a3647;
    border-radius: 8px;
    height: 51px;
    width: 91px;
    border-style: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 225ms ease-in-out,
        box-shadow 225ms ease-in-out;
}

#signup-btn:hover,
#login-btn-Two:hover,
#new-signup:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

/* Login Container  */
#login-container,
.container-style {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.login-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 650px;
    background-color: #fff;
    border-radius: 30px;
    gap: 35px;
    padding: 35px 0 35px 0;
}

.login-form h1 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.login-form hr {
    height: 2px;
    width: 150px;
    background-color: #29ABE2;
    margin: 0;
}

.input-field {
    width: 422px;
    height: 51px;
    font-size: 21px;
    padding-left: 20px;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#email-input {
    background: url(../assets/img/email-icon.png) no-repeat scroll 370px 15px;
}

#password-input {
    background: url(../assets/img/password-icon.png) no-repeat scroll 370px 15px;
}

.login-settings {
    width: 422px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Customize the label (the container) -- Remember me */
.remember-me {
    position: relative;
}

/* Hide the browser's default checkbox */
.remember-me input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 15px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    background-image: linear-gradient(#F9F9F9, #F0F0F0);
}

/* On mouse-over, add a grey background color */
.remember-me:hover input~.checkmark {
    background-color: #d1d1d1;
}

/* When the checkbox is checked, add a blue background */
.remember-me input:checked~.checkmark {
    background-color: red;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.remember-me input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.remember-me .checkmark:after {
    left: 4px;
    top: -2px;
    width: 6px;
    height: 12px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.remember-me p {
    margin-left: 35px;
}

#forget-password {
    color: #29ABE2;
    text-decoration: none;
    cursor: pointer;
}

.login-btns {
    width: 422px;
    display: flex;
    justify-content: space-evenly;
}

#login-btn-Two {
    background-color: #2a3647;
    border-radius: 8px;
    height: 51px;
    width: 145px;
    border-style: none;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}

#login-guest {
    background-color: #fff;
    border-radius: 8px;
    height: 51px;
    width: 145px;
    border-style: none;
    font-size: 21px;
    font-weight: 700;
    border: 2px solid #2a3647;
    color: #2a3647;
    cursor: pointer;
    padding: 4px, 0px, 4px, 0px;
}

#login-guest:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

/*Sign Up Form */
#name-input {
    background: url(../assets/img/user-icon.png) no-repeat scroll 370px 15px;
}

#email-input-signup {
    background: url(../assets/img/email-icon.png) no-repeat scroll 370px 15px;
}

#password-input-signup {
    background: url(../assets/img/password-icon.png) no-repeat scroll 370px 15px;
}

#new-signup {
    border-radius: 8px;
    border-style: none;
    width: 145px;
    height: 51px;
    background-color: #2a3647;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
}

.arrow-left {
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}