body {
    background-color: #F5F5F5;
    margin: 0;
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
}

.d-none {
    display: none;
}

.checkbox-feedback {
    z-index: 60;
    position: absolute;
    top: 50px;
    left: 60%;
    transform: translate(-50%, -200%);
    background-color: #2a3647;
    height: 50px;
    width: 70%;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding-top: 25px;
    font-size: 23px;
    font-weight: 400;
    animation: slideInFeedback 225ms ease-in-out, slideOutFeedback 225ms ease-in-out 2000ms;
    animation-fill-mode: forwards;
}

@keyframes slideInFeedback {
    0% {
        transform: translate(-50%, -200%);
    }

    100% {
        transform: translate(-50%, 0%);
    }
}

@keyframes slideOutFeedback {
    0% {
        transform: translate(-50%, 0%);
    }

    100% {
        transform: translate(-50%, -200%);
    }
}

section {
    display: flex;
    margin-left: 23%;
}

.summary-board {
    gap: 35px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.summary-headline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
}

.summary-headline h1 {
    font-weight: 700;
    font-size: 61px;
}

.summary-headline hr {
    background-color: #29ABE2;
    height: 50px;
    border: none;
    width: 2px;
    margin: 0 30px 0 50px;
}

.summary-headline p {
    font-size: 27px;
    color: #2A3647;
}

.top-board {
    display: flex;
    gap: 35px;
    width: 580px;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    width: 170px;
    cursor: pointer;
    color: black;
    transition: transform 100ms ease-in-out,
        background-color 100ms ease-in-out;
    transform: scale(1);
}

.task h2 {
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.task p {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 21px;
    color: #2A3647;
    margin: 0;
    background-color: #fff;
    transition: background-color 100ms ease-in-out;
}

.task:hover p,
.task:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
}

.middle-board {
    display: flex;
}

.middle-board-inner {
    background-color: #fff;
    border-radius: 20px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    width: 580px;
    transition: transform 100ms ease-in-out,
        background-color 100ms ease-in-out;
}

.middle-board-inner p,
.middle-board-inner h2 {
    background-color: #fff;
    transition: background-color 100ms ease-in-out;
    color: #000;
}

.middle-board-inner:hover p,
.middle-board-inner:hover h2,
.middle-board-inner:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
}

.urgent-container,
.done,
.to-do {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    cursor: pointer;
}

.urgent-inner-container,
.done-inner-container,
.todo-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 10px;
    color:#000;
}

#urgent-number {
    font-size: 47px;
    font-weight: 600;
    margin: 0;
    /* color: #000; */
}

.welcoming {
    padding-left: 70px;
}

.welcoming h3 {
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
    margin-bottom: 0;
}

.welcoming h4 {
    color: #29ABE2;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

#todo-number,
#done-number {
    font-size: 64px;
    font-weight: 600;
    margin: 0;
    color: #000;
}

.urgent-inner-container p,
.todo-inner-container p,
.done-inner-container p {
    margin: 0;
    color: #2A3647;
    background-color: #fff;
    transition: background-color 100ms ease-in-out;
}

.vertical-line {
    height: 100px;
    background-color: #d1d1d1;
    margin: 0;
    border: none;
    width: 2.5px;
}

.upcoming-date h2 {
    color: #2A3647;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 700;
}

.upcoming-date p {
    color: #2A3647;
    font-size: 16px;
}

.bottom-board {
    display: flex;
    gap: 35px;
    width: 580px;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 8px 5px rgba(209, 209, 209, 0.39);
    box-shadow: 0px 0px 8px 5px rgba(209, 209, 209, 0.39);
}

.to-do,
.done {
    width: 273.5px;
    background-color: #fff;
    border-radius: 20px;
    height: 150px;
    transition: transform 100ms ease-in-out,
        background-color 100ms ease-in-out;
}

.to-do:hover,
.to-do:hover p,
.done:hover p,
.done:hover {
    color: #fff;
    transform: scale(1.05);
    background-color: #2A3647;
}